/** -----{Reset}----- **/

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    font: inherit;
    box-sizing: border-box;
}

/*
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
} */

a {
    color: inherit;
    text-decoration: none;
}

ul[role="list"],
ol[role="list"] {
    list-style: none;
}

html:focus-within {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

a:not([class]) {
    text-decoration-skip-ink: auto;
}

img,
picture {
    max-width: 100%;
    display: inline-block;
}

/* 
input,
button,
textarea,
select {
    font: inherit;
} */

@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}


/** -----{Variables}----- **/

@font-face {
    font-family: 'Roboto Regular';
    font-display: swap;
    font-weight: 400;
    src: url("../assets/fonts/Roboto-Regular.ttf") format("truetype");
}

@font-face {
    font-family: 'Roboto Bold';
    font-display: swap;
    font-weight: 700;
    src: url("../assets/fonts/Roboto-Bold.ttf") format("truetype");
}

:root {
    /* 
    --> Weight Ruling <--
    
        100: Lightest
        300: Light
        400: Regular
        500: Medium
        700: Dark
        900: Darkest
    */

    --clr-primary-300-raw: 4, 100%, 68%;

    --clr-accent-100-raw: 0, 0%, 100%;
    --clr-accent-900-raw: 0, 0%, 0%;


    --clr-primary-300: hsl(var(--clr-primary-300-raw));
    --clr-primary-400: hsl(4, 100%, 61%);

    --clr-secondary-400: hsl(346, 100%, 66%);

    --clr-accent-100: hsl(var(--clr-accent-100-raw));

    --clr-accent-300: hsl(231, 7%, 60%);
    --clr-accent-400: hsl(235, 18%, 26%);
    --clr-accent-700: hsl(234, 29%, 20%);
    --clr-accent-900: hsl(var(--clr-accent-900-raw));

    --gradient-primary: linear-gradient(to right, var(--clr-secondary-400), var(--clr-primary-300));



    --ff-rgl: 'Roboto Regular';
    --ff-bold: 'Roboto Bold';

    --fs-100: 0.625rem;
    --fs-200: 0.75rem;
    --fs-300: 0.875rem;
    --fs-400: 1rem;
    --fs-700: 2.75rem;
}


/** -----{Components}----- **/

.title {
    font-family: var(--ff-bold), sans-serif;
    font-size: calc((var(--fs-700) - 0.75rem));
    width: 100%;
}

.list-item {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.list-item span {
    flex: 1;
    display: inline-block;
}

.list-icon {
    aspect-ratio: 1;
    width: 1rem;
}

.text-field {
    width: 100%;
    padding: 0.5rem 1rem;
    background: transparent;
    border: none;
    border-radius: 0.325vw;
    outline: hsl(var(--clr-accent-900-raw), 0.15) solid 1px;
}

.button {
    position: relative;
    border: none;
    cursor: pointer;
    background-color: var(--clr-accent-700);
    color: var(--clr-accent-100);
    border-radius: 0.275rem;
    font-size: calc(var(--fs-200) - 0.1rem);
    font-family: var(--ff-bold);
    letter-spacing: 0.035rem;
    padding: 0.85rem 1.25rem;
    width: 100%;
    line-height: 0.85;
    text-align: center;
}

@media (width > 785px) {
    .button:hover {
        background-image: var(--gradient-primary);
        box-shadow: 0.1rem 0.75rem 1rem 0.1rem hsl(var(--clr-primary-300-raw), 0.275);
    }
}

.button:active {
    background-image: var(--gradient-primary);
    box-shadow: 0.1rem 0.75rem 1rem 0.1rem hsl(var(--clr-primary-300-raw), 0.275);
}

/** -----{General Styling}----- **/

body {
    background-color: var(--clr-accent-400);
    font-family: var(--ff-rgl), sans-serif;
    color: var(--clr-accent-100);
}

/** -----{Newsletter Card}----- **/

.newsletter-card {
    display: flex;
    flex-direction: column-reverse;
    background-color: var(--clr-accent-100);
    color: var(--clr-accent-700);
    font-size: var(--fs-300);
}

/** -----{Newsletter Card - Content}----- **/

.newsletter-card__content-wrap {
    width: calc(100% - 3rem);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-inline: auto;
    gap: 1rem;
}

/** -----{Newsletter Card - List}----- **/

.newsletter-card__list {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

/** -----{Newsletter Card - Picture}----- **/

.newsletter-card__picture {
    flex: initial;
}

.newsletter-card__picture img {
    width: 100%;
    height: 100%;
}


/** --[DESKTOP CONFIG]-- **/

@media (width > 375px) {
    /** -----{Components}----- **/

    .title {
        font-size: calc(var(--fs-700) - 0.25rem);
    }

    /** -----{General Styling}----- **/
    
    body {
        display: grid;
        place-items: center;
    }

    /** -----{Newsletter Card}----- **/

    .newsletter-card {
        --card-margin: 1rem;

        flex-direction: row;
        border-radius: 3%;
        margin-inline: auto;
    }


}