/** -----{Reset}----- **/
*,
*::before,
*::after {
    margin: 0;
    box-sizing: border-box;
}


p,
h1,
h2,
h3,
h4,
h5,
h6,
blockquote,
dl,
dd {
   overflow-wrap: break-word;
}

h1,
h2,
h3 {
    line-height: 1.15;
}

a {
    color: inherit;
    text-decoration: none;
}

ul[role="list"],
ol[role="list"] {
    list-style: none;
}

html {
    font-size: 100%;
}

html:focus-within {
    scroll-behavior: smooth;
}

body {
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

html, body {
    height: 100%;
}

a:not([class]) {
    text-decoration-skip-ink: auto;
}

img,
picture,
svg,
video {
    max-width: 100%;
    display: block;
}


input,
button,
textarea,
select {
    font: inherit;
}

/* @media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}
 */

/** -----{Variables}----- **/
@font-face {
    font-family: 'Roboto Regular';
    font-display: swap;
    font-weight: 400;
    src: url("../assets/fonts/Roboto-Regular.ttf") format("truetype");
}

@font-face {
    font-family: 'Roboto Bold';
    font-display: swap;
    font-weight: 700;
    src: url("../assets/fonts/Roboto-Bold.ttf") format("truetype");
}

:root {
    /* 
    --> Weight Ruling <--
    
        100: Lightest
        300: Light
        400: Regular
        500: Medium
        700: Dark
        900: Darkest
    */

    --clr-primary-300-raw: 25, 100%, 50%;
    --clr-primary-400-raw: 4, 100%, 61%;

    --clr-neutral-100-raw: 0, 0%, 100%;
    --clr-neutral-900-raw: 0, 0%, 0%;


    --clr-primary-300: hsl(var(--clr-primary-300-raw));
    --clr-primary-400: hsl(var(--clr-primary-400-raw));

    --clr-secondary-400: hsl(340, 100%, 60%);

    --clr-neutral-100: hsl(var(--clr-neutral-100-raw));
    --clr-neutral-900: hsl(var(--clr-neutral-900-raw));

    --clr-accent-300: hsl(231, 7%, 60%);
    --clr-accent-400: hsl(235, 18%, 26%);
    --clr-accent-700: hsl(234, 29%, 20%);
    
    --gradient-primary: linear-gradient(125deg in oklab, var(--clr-secondary-400) 0%, hsl(var(--clr-primary-300-raw)) 85% 85%);

    --ff-base: 'Roboto Regular';
    --ff-bold: 'Roboto Bold';

    --fs-100: 0.625rem;
    --fs-200: 0.75rem;
    --fs-300: 0.875rem;
    --fs-400: 1rem;
    --fs-600: 2.25rem;
    --fs-700: 3rem;
}

/** -----{General Styling}----- **/
body {
    background-color: var(--clr-accent-400);

    font-family: var(--ff-base);
    font-size: var(--fs-300);
    color: var(--clr-accent-700);
}

@media (width >= 426px) {
    body {
        display: grid;
        place-items: center;
    }
}

button,
input:is([type="button"], [type="submit"]) {
    cursor: pointer;
    text-decoration: none;
}

footer {
    color: var(--clr-neutral-100);
    text-align: center;
}

/** -----{Utilities}----- **/
[data-disabled] {
    display: none !important;
}

.flex {
    --_spacing: 0;

    display: flex;
    flex-wrap: wrap;
    gap: calc(var(--_spacing) * var(--_spacing-multiplier, 1));
}

.flex.dir-col {
    flex-direction: column;
}

.flex.flex-wrap {
    flex-wrap: wrap;
}

.jc-c {
    justify-content: center;
}

.jc-sb {
    justify-content: space-between;
}

.ai-c {
    align-items: center;
}

[data-spacing="sml"] {
    --_spacing: 0.25rem;
}

[data-spacing="sm"] {
    --_spacing: 0.675rem;
}

[data-spacing="md"] {
    --_spacing: 1rem;
}

[data-spacing="lg"] {
    --_spacing: 1.5rem;
}

[data-spacing="xl"] {
    --_spacing: 3rem;
}

/** -----{Components}----- **/
.title {
    font-family: var(--ff-bold);
    font-size: var(--fs-600);
}

@media (width >= 426px) {
    .title {
        font-size: var(--fs-700);
    }
}

.list-item {
    display: flex;
    gap: 1rem;
}

.list-item p {
    flex: 0.9;
    line-height: 1.35;
}

.list-icon {
    aspect-ratio: 1;
    width: 1.15rem;
    align-self: baseline;
}

.text-field-label {
    font-size: calc(var(--fs-200) + 0.025rem);
    font-family: var(--ff-bold);
}

.text-field-info {
    display: none;
    font-family: var(--ff-bold);
    font-size: calc(var(--fs-200) + 0.025rem);
    color: var(--clr-primary-400);
}

:has(.text-field:not(:placeholder-shown):invalid) .text-field-info {
    /* Show input field error */
    display: initial;
}

.text-field {
    padding: 0.75rem 1.25rem;
    border: none;
    outline: hsl(var(--clr-neutral-900-raw), 0.25) solid 1px;
    border-radius: 0.5rem;
    margin-bottom: 0.75rem;
}

.text-field:focus-visible {
    outline-color: hsl(var(--clr-neutral-900-raw), 1)
}

.text-field:not(:placeholder-shown):not(:autofill):invalid {
    outline: hsl(var(--clr-primary-400-raw), 1) solid 1px;
    color: var(--clr-primary-400);
    background-color: hsl(var(--clr-primary-400-raw), 0.15);
}

.primary-btn {
    --_box-shadow: 0 0.75rem 1.5rem 0.15rem hsl(var(--clr-primary-400-raw), 0.425);

    padding: 1rem 0.5rem; 
    margin-bottom: 1rem;
    border: none;
    border-radius: 0.5rem;

    background-color: var(--clr-accent-700);
    color: var(--clr-neutral-100);
    font-family: var(--ff-bold);
    font-size: calc(var(--fs-300) - 0.05rem);
    letter-spacing: 0.04rem;
}

@media (width >= 426px) {
    .primary-btn {
        margin-bottom: 0;
    }
}

.primary-btn:active {
    background-image: var(--gradient-primary);
    box-shadow: var(--_box-shadow);
}

@media (hover: hover) {
    .primary-btn:hover {
        background-image: var(--gradient-primary);
        box-shadow: var(--_box-shadow);
    }
}

/** -----{Newsletter Styling}----- **/
.newsletter {
    --_spacing-multiplier: 1.75;

    --_content-padding: 0.5rem 2.25rem;
    --_content-spacing: 0.75rem;

    min-height: 100dvh;
    min-height: 100vh;
    max-width: 850px;
    overflow: hidden;

    background-color: var(--clr-neutral-100);
}

@media (width >= 426px) {
    .newsletter {
        display: grid;
        gap: 0.75rem;
        grid-template-columns: 1fr 0.85fr;
        grid-template-areas: "left right";
        min-height: 0;
        border-radius: 2rem;
        padding: 1.25rem;
        margin: 0.75rem;
    }
}

@media (width < 426px) and (height > 800px) {
    .newsletter {
        --_spacing-multiplier: 3.5;
    }
}

@media (426px <= width <= 710px) {
    .newsletter {
        --_content-padding: 0.5rem 1rem;

        grid-template-columns: 1fr;
        border-radius: 1.5rem;
    }
}

/** -----{Newsletter Picture Styling}----- **/
.newsletter__picture {
    margin-inline: auto;
    grid-area: right;
    margin-bottom: 2rem;
}

@media (width >= 426px) {
    .newsletter__picture {
        height: 100%;
        margin-bottom: 0;
    }
}

@media (426px <= width <= 710px) { 
    .newsletter__picture {
        display: none;
    }
}

.newsletter__picture img {
    width: 100%;
    height: 100%;
}

/** -----{Newsletter Content Styling}----- **/
.newsletter__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: calc(var(--_content-spacing) * var(--_spacing-multiplier));
    padding: var(--_content-padding);
    /* border: chartreuse 3px solid; */
}

/** -----{Newsletter List Styling}----- **/
.newsletter__list {
    display: grid;
    gap: 0.75rem;
    padding: 0;
    margin-bottom: 1rem;
}

/** -----{Newsletter Form Styling}----- **/
.newsletter__form {
    display: grid;
    gap: 0.5rem;
}

@media (width < 426px) and (height > 800px) {
    .newsletter__form {
        padding-bottom: 1.25rem;
    }
}

/** -----{Success Window Styling}----- **/
.success-msg {
    display: grid;
    min-height: 100dvh;
    min-height: 100vh;
    grid-template-rows: 1fr;
    gap: 6rem;
    justify-content: center;

    padding: 0 2rem 1.25rem;
    background-color: var(--clr-neutral-100);
}

@media (width >= 426px) {
    .success-msg {
        min-height: 0; 
        max-width: 30rem; 
        gap: 2.5rem;
        padding: 3.5rem;
        border-radius: 1.5rem;
        margin: 0.75rem;
    };
};